/* Portfolio.css */

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  color: #333;
  background: #fefefe;
}

.portfolio-container {
  width: 100%;
}

/* Section styles */
.section {
  padding: 30px 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: #312e81;
  color: white;
}

.subtitle {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.primary {
  background-color: transparent;
  color: #b6b8b9;
  border: 2px solid #4f46e5;
}

.secondary {
  background-color: transparent;
  color: #b6b8b9;
  border: 2px solid #4f46e5;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.project-slider img {
  width: 100%;
  border-radius: 12px;
}

.slide-title {
  text-align: center;
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 600;
}

.project-block {
  margin-bottom: 50px;
}

.skill-item,
.project-card {
  background: #1e1e2f;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.project-card img {
  width: 100%;
}

.project-links {
  margin-top: 10px;
}

.project-links .link {
  margin-right: 10px;
  color: #4f46e5;
  text-decoration: none;
}

.contact-links {
  margin-top: 10px;
}

.contact-links .link {
  display: inline-block;
  margin: 5px;
  color: #4f46e5;
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #e5e5e5;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: zoom-out;
}

.image-modal img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border: 4px solid white;
  border-radius: 10px;
}

.clickable-img {
  cursor: zoom-in;
  transition: transform 0.3s;
}

.clickable-img:hover {
  transform: scale(1.05);
}
/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #4f46e5 !important;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #312e81 !important;
  transform: scale(1.15);
}

